.main-content{
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

button.btn-primary {
    background-color: #fae3e3;
    color: rgb(57, 57, 57);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

button.btn-primary:hover {
    background-color: #f5c6cb;
    color: rgb(57, 57, 57)
}

/* Style for scrollbars */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f5c6cb; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: #fae3e3; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f5c6cb; /* Darker color on hover */
}




